.sucess{
        position: fixed;
        top: 2%;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        background-color: rgb(10, 98, 65);
        padding: 20px;
        border-radius: 8px;
        color: aliceblue;
        width: 70%; /* Set the initial width using a percentage */

}