.mat-h6 , .mat-headline , .mat-typography h6{
    font-size: 18px; 
    font-weight: 400;
}
.mat-toolbar{
    margin:19px ; 
    margin-bottom: 10px;
    width : auto ;
}
.flex-spacer {
    flex: 1;
  }